{% extends "!base.html" %}

{% block extrahead %}

	{%- if metatags %}{{ metatags }}{% endif -%}

	<meta name="color-scheme" content="light dark">

	{%- block linktags %}
		{%- if next -%}
			<link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}" />
		{%- endif -%}
		{%- if prev -%}
			<link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}" />
		{%- endif -%}
		{#- rel="canonical" (set by html_baseurl) -#}
		{%- if pageurl %}
		<link rel="canonical" href="{{ pageurl|e }}" />
		{%- endif %}
	{%- endblock linktags %}

{% endblock %}
