@supports (image-rendering:crisp-edges) {
	.sidebar-logo, .pixel-edges {
		image-rendering: crisp-edges;
	}
}
@supports (image-rendering:pixelated) {
	.sidebar-logo, .pixel-edges {
		image-rendering: pixelated;
	}
}
@supports not (image-rendering:pixelated) or not (image-rendering:crisp-edges) {
	.sidebar-logo, .pixel-edges {
		image-rendering: -ms-interpolation-mode:nearest-neighbor;
	}
}
.align-right {
	float: right;
}
.md-grid {
	max-width: 75rem;
}
.md-typeset figure img {
	display: unset;
}
.md-typeset figure {
	padding: 1rem;
}
.cross-check>ul>li>label .task-list-indicator::before {
	-webkit-mask-image: var(--md-admonition-icon--failure);
	mask-image: var(--md-admonition-icon--failure);
	background-color: hsl(0, 72%, 55%);
}
.cross-check>ul>li>.task-list-control>[type="checkbox"]:checked+.task-list-indicator::before {
	-webkit-mask-image: var(--md-admonition-icon--success);
	mask-image: var(--md-admonition-icon--success);
	background-color: hsl(122, 84%, 45%);
}
.md-hero__inner {
	padding: 0;
	padding-left: 1rem;
}
code {
	tab-size: 2;
}
.md-typeset .admonition > *, .md-typeset details > * {
	word-wrap: anywhere;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
    font-weight: bold !important;
}
article h1 {
    font-size: 2.5em !important;
}
article h2 {
    font-size: 2em !important;
}
article h3 {
    font-size: 1.5em !important;
}
article h4 {
    font-size: 1.25em !important;
}
article h5 {
    font-size: 1.125em !important;
}
article h6 {
    font-size: 1em !important;
}
.md-nav {
	font-size: .75rem;
}
[data-md-color-scheme="slate"] {
	--md-default-bg-color: hsla(var(--md-hue), 15%, 10%, 1);
}
[data-md-color-primary="red"] {
	--md-primary-fg-color: #df2a37;
}